body {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    padding: 0.5cm;
    font-size: 110%;
}

.tracker {
    width: 90%;
    border: 1px solid #ccc;
}

.tracker th,
.tracker tr:nth-child(even) {
    background-color: #eee;
}

.tracker th, .tracker td {
    padding: 5px 0;
}

.details {
    width: 90%;
    border: 1px solid #ccc;
}

.details th {
    background-color: #eee;
    border: 1px solid #ccc;
}

.details td {
    border: 1px solid #ccc;
}
